<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoices</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <h2>Policy Information</h2>
    <br>
    <br>
    <form method="POST">
        <div class="form-group">
            <label for="policy_number" aria-describedby="policyHelp">Policy Number</label>
            <input name="policy_number" type="text" class="form-control"><br>
            <small id="policyHelp" class="form-text text-muted">Please enter a valid policy number.</small>
        </div>
        <div class="form-group">
            <label for="effective_date" aria-describedby="effectiveDateHelp">Effective Date</label>
            <input name="effective_date" type="date" class="form-control"><br>
            <small id="effectiveDateHelp" class="form-text text-muted">Please enter an effective date.</small>
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div>

        </div>
    </form>
    <br>
    <br>
    <div>
        Account Balance: {{ balance }}
    </div>
    <div class="table-responsive">
        <table border=1 class="table table-bordered table-hover table-condensed">
        <thead>
            <td>Policy ID</td>
            <td>Billing Date</td>
            <td>Due Date</td>
            <td>Cancel Date</td>
            <td>Amount</td>
            <td>Deleted</td>
        </thead>

        {% for invoice in invoices %}
            <tr>
                <td>{{invoice["policy_id"]}}</td>
                <td>{{invoice["bill_date"]}}</td>
                <td>{{invoice["due_date"]}}</td>
                <td>{{invoice["cancel_date"]}}</td>
                <td>{{invoice["amount_due"]}}</td>
                <td>{{invoice["deleted"]}}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

</body>
</html>